@use "./vars";

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  color: var(--white);
  background-color: #000000;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin: 0 0 32px 0;
  text-align: center;
}

.logo {
  height: 50px;
  margin-bottom: 36px;
  justify-self: center;
  display: none;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 4px;
  margin: 6px 0;
}

.button:hover {
  filter: hue-rotate(35deg);
  transition: 1s;
}

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 1s;
}

.primary-button {
  background-color: var(--neon-blue);
  color: var(--white);
  width: 100%;
  font-size: var(--md);
  height: 50px;
}

.secondary-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--light-neon-blue);
  border-radius: 8px;
  color: var(--light-neon-blue);
  width: 100%;
  font-size: var(--md);

  height: 50px;
}

.login-button {
  margin: 14px 0 30px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form a {
  color: var(--light-neon-blue);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
}

@media (max-width: 640px) {
  .logo {
    display: block;
  }
}
