.menu {
  display: none;
}

.logo-container {
  margin: 0;
  display: grid;
  grid-template-columns: 35px auto;
  align-items: center;
  gap: 5px;
  padding: 12.5px;
}

.logo-container img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul,
.navbar-right ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--black);
  transition: 0.5s;
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  color: var(--light-neon-blue);
  border: 1px solid var(--light-neon-blue);
  transition: 0.5s;
}

.navbar-email {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-right: 12px;
}

.navbar-shopping-cart {
  position: relative;

  div {
    width: 16px;
    height: 16px;
    background-color: var(--light-neon-blue);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul,
  .navbar-email {
    display: none;
  }
}
